@model IEnumerable<BagListingModel>
@{
    ViewData["Title"] = "All Bags";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th class="title" style="width:10%">
                Title
            </th>
            <th>
                Color
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th style="width:20%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bag in Model)
        {
            <tr>
                <th>
                    <img src="@bag.ImageUrl" width="150" height="150" />
                </th>
                <th>
                    @bag.Title
                </th>
                <th>
                    @bag.Color
                </th>
                <th>
                    @bag.Price
                </th>
                <th>
                    @bag.Description
                </th>
                <th>
                    <a href="edit/@bag.Id" class="btn btn-warning">Edit</a>
                    <a href="delete/@bag.Id" class="btn btn-danger">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>
